/* global variable */

:root{
    --header-height: 3.5rem;
    /* colors */
    --yellow-normall: hsla(33, 88%, 56%, 1);
    --yellow-light: hsla(33, 88%, 86%, 1);
    --yellow-click:hsla(33, 91%, 73%, 1);
    --blue-dark: hsla(189, 24%, 17%, 1);  
    --blue-dark-hover: hsla(187, 24%, 29%, 1);
    --blue-normal: hsla(187, 24%, 49%, 1);
    --blue-light: hsla(186, 23%, 84%, 1);
    --h2-font-color: hsla(180, 2%, 42%, 1);
    --text-color: hsla(187, 100%, 8%, 1);
    --grey-normal: hsla(186, 33%, 78%, 1);
    --botton-text-color: hsl(0, 0%, 20%);
    --first-font-color: hsla(0, 0%, 20%, 1);
    --second-font-color:hsla(40, 60%, 99%, 1);
    --body-color: #FFFFFF;
    --shadow: hsla(0, 0%, 0%, 0.25);
    --shadow-img:drop-shadow(0 8px 24px hsla(22, 100%, 8%, .2));;
    /* weight */
    --regular:400;
    --semi-bold:600;
    --bold:700;
    /* font size */
    --S24: 24px;
    --S18: 18px;
    --S12: 12px;
    --S32: 32px;
    --S20: 20px;
    --S16: 16px;
    --S35-h1: 35px;
    --S44: 44px;
    --S28: 28px;
    --S40: 40px;
    --normal-font-size: 1rem;
}
/* end variable */


/* global ruls */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}
body{
    background-color: var(--body-color);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.main {
    overflow: hidden;
}

h1, h2, h3, h4{
    font-weight: var(--bold);
}

/* end global rules */

/* REUSABLE CSS CLASSES */

.container {
    max-width: 1120px;
    margin-inline: 0.5rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
  
.section {
    padding-block: 5rem 1rem;
}
.section__title {
    text-align: center;
    font-size: var(--S35-h1);
    line-height: 52.5px;
    margin-bottom: 2rem;
    font-weight: var(--bold);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: 100;
    transition: box-shadow 0.4s;
  }
.nav{
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.nav__logo{
    text-align: center;
    font-size: var(--S32);
    color: var(--yellow-normall);
    line-height: 32px;
    font-weight: var(--bold);
}
.nav__toggle,.nav__close {
    display: flex;
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}
.nav__cartshop{
    font-size: 1.4rem;
}
.serch__icon{
    font-size: 1rem;
    margin-left: -30px;
    margin-right: 30px;
    width: 24px;
    height: 24px;
}
.serch__bar{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 355px;
    margin-left: 10px;
}
.serch{
    border: 1px solid hsla(186, 33%, 78%, 1);
    border-radius: 15px;
    padding: 6px;
    text-indent: 8px;
    font-size: var(--S16);
    line-height: 24px;
    font-weight: var(--regular);
    width: 100%;
    height: 44px;
}
.serch:focus{
    border: 3px solid var(--grey-normal);
    outline: none;
}
.mobile__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
}

/* Navigation for mobile devices */

@media  screen and (max-width:1150px)  {
    .nav__menu{
      position: fixed;
      top: 0;
      right: -100%;
      background-color: var(--body-color);
      width: 50%;
      height: 100vh;
      padding-block: 4.5rem 3.5rem ;
      box-shadow: 0 4px 16px hsla(22, 100%, 8%, .2);
      transition: right 0.7s ease-out;
    }
  
}
.nav__list{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.nav__account{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    row-gap: 2rem;
    margin-bottom: 40px;
    border-bottom: 2px solid var(--yellow-click);
    padding-bottom: 30px;
}
.list1{
    display: flex;
    align-items: center;
}
.profileImg{
    margin-left: 15px;
}
.account__list{
    display: none;
}
.nav__links, .nav__links2{
    position: relative;
    color:var(--blue-dark);
    text-transform: capitalize;
    font-size: var(--S20);
    line-height: 32px;
    font-weight: var(--regular);
}
  
.nav__links::after{
    content: '';
    width: 0px;
    height: 3px;
    background-color: var(--yellow-normall);
    position: absolute;
    left: 0;
    top: 24px;
    z-index: -1;
    transition: width .3s;
}
  
.nav__links:hover::after{
    width: 60%;
}
.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}
/* Show menu js */

.show-menu{
    right: 0;
}
/* Add shadow header */

.shadow-header{
    box-shadow: 0 4px 16px var(--yellow-light);
}

/* HOME */

.home__container{
    padding-block: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__data{
    width: 433px;
}
.home__title{
    font-size: var(--S35-h1);
    line-height: 52.5px;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: var(--bold);
    color: var(--blue-dark) ;
}
.home__description{
    margin-bottom: 2.5rem;
    font-size: var(--S18);
    line-height: 28px;
    word-spacing: 3px;
    letter-spacing: 1px;
    color: var(--blue-dark-hover);
}
.home__images{
    display: grid;
    justify-items: center;
    justify-content: center;
}
.home__img{
    filter: var(--shadow-img);
    width: 696px;
}
/* BUTTON */

.button {
    background-color: var(--yellow-normall);
    color: #FEFDFB;
    font-weight: var(--bold);
    font-size: 24px;
    line-height: 36px;
    padding: 18px 135.135px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button::after {
    content: '';
    background-color: var(--blue-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 0;
    height: 0;
    transition: width 300ms ease-out, height 300ms ease-out;
    z-index: -1;
}

.button:hover::after {
    width: 600px; 
    height: 600px; 
    color: var(--blue-dark);
}
.button span {
    position: relative;
    z-index: 2; 
    transition: color 300ms ease-out; 
}

.button:hover span {
    color: var(--blue-dark); 
}

/* selection section */

.selection{
    padding-bottom: 90px;
}
.selection__container{
    justify-items: center;
    align-items: center;
    gap: 4rem;
    
}
.selection__card{
    display: flex;
    flex-direction: column;
    max-width: 497px ;
    max-height: 883px;
    gap: 80px;
}
.girl__collection, .boy__collection{
    width: 496px;
    height: 248px;
    position: relative;
    border-radius: 25px;
    display: flex;
}
.girl__collection{
    background-color: var(--yellow-light) ;
}
.boy__collection{
    background-color: var(--blue-light);
}
.selec__data{
    padding: 15px;
    display: grid;
    max-width: 256px;
    gap: 0.5rem;
    overflow: visible;
}
.collection__title{
    font-weight: var(--bold);
    font-size: var(--S44);
    line-height: 66px;
    color: var(--text-color);
}
.col__cont{
    padding: 90px;
}
    
.collection__par{
    font-weight: var(--regular);
    color: var(--text-color);
    line-height: 34.5px;
    font-size: 23px;
}
.girl{
    color: var(--blue-normal);
}
.boy{
    color: var(--yellow-normall);
}
.selection__description{
    font-weight: var(--bold);
    font-size: var(--S24);
    line-height: 36px;
    color: var(--h2-font-color);
    max-width: 362px;
    text-align: center;
}
.sel{
    margin-bottom: 2px;
}
.selection__button{
    background-color: hsla(33, 91%, 96%, 1);
    max-width: 172px;
    max-height: 52px;
    text-align: center;
    border-radius: 100px;
    padding: 12px 40px 12px 40px;
    box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    transition: background-color 0.7s ease-in-out;
}
.selection__button:hover{
    background-color: var(--yellow-click);
}
.selection__button > span {
    font-size: var(--S18);
    color: var(--first-font-color);
    font-weight: var(--bold);
    line-height: 27px;
}
.selectionG__img{
    position: absolute;
    right: 0;
    top: -70px;
}
.selectionB__img{
    position: absolute;
    right: 0;
    top: -10px;

}
.girl__img{
    max-width: 207.05px;
    max-height: 388px;
    
}
.boy__img{
    max-width: 175px;
    max-height: 338px;
}
.slider{
    width: 85%;
    margin: auto;
}
.prod_desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider_container{
    width: 100%;
    overflow: hidden;
}
.card__wraper{
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.card__wraper::-webkit-scrollbar{
    display: none;
}
.product__card{
    min-width: 312px;
}
.show__product{
    position: relative;
}
.icons_cont{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 3px;
    gap: 10px;
    padding: 15px;
}
.icons_cont>*{
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
.product_img{
    border-radius: 15px;
}
.takieem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3px 4px 3px;
    font-size: 14px;
    line-height: 21px ;
    font-weight: var(--regular);
    text-transform: uppercase;
    color: var(--first-font-color);
    
}
.takieem>p{
    opacity: 50%;
    letter-spacing: 3px;
}
.product__name{
    font-size: 23px;
    font-weight: var(--bold);
    line-height: 34.5px;
    color: var(--first-font-color);
    padding: 0 3px 10px 3px;
}
.price{
    color: hsla(101, 54%, 55%, 1);
    font-weight: var(--bold);
    font-size: 28px;
    line-height: 42px;
}
.price>del{
    color: var(--first-font-color);
    opacity: 30%;
    font-size: 23px;
    line-height: 34.5px;
    padding-left: 10px;
}
.prod_desc>*{
    font-weight: var(--bold);
    font-size: 23px;
    color: hsla(0, 0%, 0%, 1);
}
/* Deal section */
.deal__dtai{
    position: absolute;
    bottom: 110px;
    right: 50px;
}
.deal__container{
    position: relative;
}
.deal__desc{
    color: var(--text-color);
    font-weight: var(--bold);
    font-size: 24px;
    padding-bottom: 10px;
}
.code{
    background-color: var(--yellow-normall);
    font-size: var(--S16);
    font-weight: var(--bold);
    text-align: center;
    color: hsla(40, 60%, 99%, 1);
    border: 1px solid hsla(40, 60%, 99%, 1);
    border-radius: 5px;
    padding: 3px 0;
}
/* Brand section */
.brand_slider{
    width: 98%;
    margin: 0 auto;
}
.brand__image{
    height: 360px;
}
.brand__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brund__card{
    min-width: 295px;
    min-height: 360px;
    position: relative;
}
.brand__name{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.35);
    font-weight: var(--bold);
    font-size: var(--S20);
    line-height: 32px;
    color: hsla(40, 60%, 99%, 1);
    border-radius: 9px;
    width: 140px;
    padding: 15px 4px;
}
/* consoltation section */

.consoltation__container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px solid hsla(186, 33%, 78%, 1);
    margin-inline: 0px;
    height: 509px;
    justify-content: space-between;
}
.cons__description{
    padding-left: 20px;
}
.cons__title{
    font-size: var(--S28);
    font-weight: var(--bold);
    color: var(--text-color);
    line-height: 42px;
}
.cons__para{
    font-weight: var(--regular);
    font-size: 23px;
    color: var(--text-color);
    padding-bottom: 35px;
    line-height: 34.5px;
}
.cons__buuton{
    text-align: center;
    width: 304.57px;
    height: 88px;
    background-color:var(--yellow-normall);
    color: hsla(40, 60%, 99%, 1);
    font-size: 16px;
    font-weight: var(--bold);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: translateY(40px);
}
.cons__image{
    height: 100%;
}
.cons_img{
    height: 100%;
    object-fit: cover;
}
/* clients opinions */
.opinion__card{
    min-width: 348px;
    height: 448px;
    background-color: var(--blue-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    /* transition:height 500ms ease; */
}
.opinion__card:hover{
    transform: translateX(38px);
    height: 520px;
    min-width: 404px;
    background-color: var(--blue-dark-hover);
    padding: 30px;
}
.opinion__card:hover .opinion__name{
    color: var(--grey-normal);
}
.opinion__card:hover .opinion__state{
    color: rgb(190, 188, 188);
}
.opinion__card:hover .theOpinion{
    color: rgb(255, 255, 255);
}
.opinion__image{
    border-radius: 50%;
    padding-bottom: 10px;
}
.opinion__name{
    font-size: var(--S16);
    font-weight: var(--regular);
    line-height: 22.3px;
    font-family:cursive;
    color: var(--text-color);
}
.opinion__state{
    color: hsla(180, 2%, 42%, 1);
    font-weight: var(--regular);
    font-size: var(--S16);
    font-family:cursive;
    padding-bottom: 10px;
}
.theOpinion{
    font-size: var(--S18);
    font-weight: var(--regular);
    color: var(--text-color);

}
.client__zrqpper{
    gap: 45px;
}
.CL{
    text-align: left;
    padding-left: 100px;
    font-family:cursive;
}
/* contact section */
.contact__container{
    position: relative;
}
.contact{
    transform: translate(265px,-295px);
    width: 425px;
    height: 472px;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-normal);
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.contact__parag{
    text-align: left;
}
.contact__image{
    width: 100vw;
}
.cons__img{
    width: 100%;
    object-fit: cover;
}
.contact__title{
    font-size: var(--S24);
    font-weight: var(--regular);
    color: var(--text-color);
    line-height: 36px;
}
.contact__par{
    font-size: var(--S16);
    font-weight: var(--regular);
    color: hsla(180, 2%, 42%, 1);
    line-height: 24px;
    padding-bottom: 20px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.input__imail{
    border: none;
    width: 274px;
    padding: 10px;
    border-radius: 10px;
}
.input__imail:focus{
    outline: none;
}
.contact_buton{
    border: none;
    background-color: var(--yellow-normall);
    width: 97px;
    border-radius: 10px;
    color: hsla(0, 0%, 100%, 1);
    font-size: var(--S18);
    font-weight: var(--bold);
    line-height: 27px;
    padding: 7px 5px;
    cursor: pointer;
}
.contact__parag{
    font-size: 12px;
    font-weight: var(--regular);
    color: var(--blue-dark);
    line-height: 18px;
}


/* footer */
.footer{
    height: 705px;
}